/*Name= Manoj Belbase
  Student id= 8903938 */
  
 html{
  font: 1.25rem/1.5 arial, sans-serif;
 }
  body
{
background-color: hsla(115, 60%,55%, 0.4);  
width:100vw;
height: 100vh;
display: flex;
flex-direction: column;
}
li
{
    list-style-type: circle;
    line-height: 1.5;
    color: rgba(255, 0, 208, 0.7);
}
h2{
    text-align: center;
}
h1{
  color: rgb(7, 4, 1);
  font-size: 2.5rem;
  text-align: center
}

h2
{
    color: #132; /*font color using 3-digit hex*/
    font-size: 1.5rem; /*font size using relative unit*/
}
header{
  background-color: hsla(115, 60%,55%, 0.4);
}

nav li{
  display: inline;
  list-style-type: none;
}

nav li a{
  border: 0.125rem solid indigo;
  color: indigo;
  background-color: cornsilk;
  text-decoration: none; 
  padding: 1em;
}
nav a:hover{
  border: 0.125rem solid cornsilk;
  color:cornsilk;
  background-color: indigo;
}

main
{
  flex: 2170%;
  background-color: hsla(189, 73%, 68%, 0.4);
}
aside
{
  flex: 1130%;
  background-color: hsla(76, 65%, 64%, 0.4);
}
footer{
  background-color: hsla(72, 75%, 73%, 0.4);
}
.structural{
  padding: 0.625rem;
  margin: 1rem;
  border: 0.125rem solid black;

}
#para1{
  color:rgb(91, 56, 28);
}
#para2{
  color:rgb(91, 56, 24);
}
aside ul a:hover{
  color:aquamarine;
}
footer p{
  font-size: .75em;
}

form{
  border: 0.313rem dashed rgb(26, 4, 127);
  padding: 0.313rem;
}
input[type=text],
input[type=email], 
input[type=submit],
select,option{
  width: 50%;
  display: block;
  height: 2em;
}
input[type=radio], 
input[type=checkbox]{
  height: 2em;
  width: 2em;
}
select,
option,
label,
legend,
input[type=submit]{
  font-size: 1.5rem;
  font-weight: bold;
  font-variant: small-caps;
}
textarea{
  width: 50%;
  display: block;
}
fieldset{
  border: none;
}
section{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}
#gallery{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}
figure{
  border: 0.15rem solid black;
  width: 80%;
}
img{
  width: 80%;
  height: 80%;
  
}
@media(max-width:600px){
  html{
    font-size: 10px;
}
#gallery{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
section{
  flex-direction: column;
}
}


